.section {
    max-width: 800px; /* Largura máxima da section */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Alinha os itens em coluna (verticalmente) */
    justify-content: center; /* Centraliza verticalmente se a altura for maior */
}


.header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header img{
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.searchInput {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchInput input {
    width: 80%;
    background: url('../../assets/search.svg') no-repeat 10px center;
    background-size: 28px 28px;
    height: 55px;
    background-color: #EEEEEF;
    border: 1px solid transparent; /* Defina uma borda transparente por padrão */
    border-radius: 30px;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchInput input:focus {
    border-color: #294122; /* Cor da borda no foco, exemplo com azul */
    box-shadow: 0 0 0 4px rgba(41, 65, 34, 0.2);
}

.divUseCurrentlyLocation {
    margin-top: 30px;
    display: flex;
    padding-left: 8%;
    justify-content: start;
    cursor: pointer;
}

.divUseCurrentlyLocation img {
    margin-right: 10px;
}

.myAdress {
    cursor: pointer;
    margin-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.cardUserAdress {
    padding: 10px 0 10px 5px;
    display: flex;
    margin-top: 15px;
    border: 1px solid #000000;
    border-radius: 20px;
}

.cardUserAdress img {
    margin-right: 10px;
}

.cardUserAdressInfo {
    display: flex;
    flex-direction: column;
}