.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #F5F5F5;
}

.containersearch{
    display: flex;
    align-items: center;
}

.search{
    
    position: 'absolute';
    left: '10px';
    top: '50%';
    transform: 'translateY(-50%)';
    color: '#888';
}

.input{
   border-radius: 10px ;
   background-color: #F5F5F5;
}

.imgAdjustment{
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
    margin-left: 4em;
}

/*modal*/
.modalOverlay{
    position: absolute;
    right: 10px;
    top: 50px;
}

.modalContent{
    padding: 10px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 1px 2px 2px 1px #f1f0f0;
}

.modalContent h4{
    font-weight: 600;
    color: #666;
    letter-spacing: 0.5px;
}

.modalContent ul{
    margin-top: 10px;
    text-align: right;
}

.modalContent li{
    list-style-type: none;
    margin-bottom: 6px;
    letter-spacing: 0.7px;
    font-size: 16px;
}

.modalContent li a{
    text-decoration: none;
    color: #666;
}

.modalContent li button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding-right: 18px;
}

/* ProductPage.module.css */

/* ProductPage.module.css */

.sectionMaisPedidos {
    margin-top: 10px;
    height: 20vh;
    width: 100%;
    max-width: 92%;
    padding: 5px; /* Adiciona um pouco de espaço ao redor */
    overflow-x: auto; /* Adiciona o scroll horizontal */
    overflow-y: hidden; /* Impede o scroll vertical */
    white-space: nowrap; /* Impede a quebra de linha dos  itens internos */
    padding-bottom: 30px;
}

.catalogProd {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhamento à esquerda para permitir scroll horizontal */
    width: 100%; /* Largura completa do contêiner pai */
}

.containerImg {
    background-color: white;
    height: 15vh; /* Altura fixa */
    width: 100px; /* Largura fixa dos itens */
    border: 1px solid black;
    margin-right: 10px; /* Espaço entre os itens */
    display: inline-block; /* Garante que os itens fiquem na mesma linha */
    flex-shrink: 0; /* Impede que o item encolha */
}

.allProducts{
    height: 5vh;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 2fr)); /* Ajusta o número de colunas */
    grid-auto-rows: 200px; /* Define a altura das linhas */
    margin-top: 80px;
}

.imgProd{
    height: 15vh;
    width: auto;
    margin: 10px;
}

.allProdCatalog{
    color: black;
    font-size: 20px;
}

.legendaProd{
    width: 100%;
    margin: 12px;
}


.filterPage{
    margin-top: 20vh;
   z-index: 100;
   position: relative;
}

.notFilterPage{
    display: none;
}


.cartIconContainer{
    display: flex;
    position: relative;
    width: 20vw;
}

.itemCount{
    position: absolute;
    bottom: 0;
    right:0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
}

.mediaQuery{
    display: none;
}

.select{
   width: 30px
}


@media screen  and (min-width:500px){
    .container{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
        
    }
    .mediaQuery{
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .input{
        width: 100%;
    }
    .containersearch{
        display: none;
    }

    .cartIconContainer{
        display: flex;
        justify-content: flex-end;
    }
    
    .sectionMaisPedidos{
        width: 100%;
        flex-wrap: wrap;
    }

    .allProducts{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        overflow-y: auto
   }

   .filterPage{
    display: none;
   }

   .imgProd{
    width: 20vw;
   }
}
@media screen  and (min-width:835px){
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .cartIconContainer{
        display: flex;
        justify-content: flex-end;
    }
    

    
}