.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #F5F5F5;
}

.containersearch{
    display: flex;
    align-items: center;
}

.search{
    
    position: 'absolute';
    left: '10px';
    top: '50%';
    transform: 'translateY(-50%)';
    color: '#888';
}

.input{
   border-radius: 10px ;
   background-color: #F5F5F5;
}

.imgAdjustment{
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
    margin-left: 4em;
}

/* ProductPage.module.css */

/* ProductPage.module.css */

.sectionMaisPedidos {
    margin-top: 10px;
    height: 20vh;
    width: 100vw;
    padding: 5px; /* Adiciona um pouco de espaço ao redor */
    overflow-x: auto; /* Adiciona o scroll horizontal */
    overflow-y: hidden; /* Impede o scroll vertical */
    white-space: nowrap; /* Impede a quebra de linha dos  itens internos */
}

.catalogProd {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhamento à esquerda para permitir scroll horizontal */
    width: 100%; /* Largura completa do contêiner pai */
  
}

.containerImg {
    background-color: white;
    height: 15vh; /* Altura fixa */
    width: 100px; /* Largura fixa dos itens */
    border: 1px solid black;
    margin-right: 10px; /* Espaço entre os itens */
    display: inline-block; /* Garante que os itens fiquem na mesma linha */
    flex-shrink: 0; /* Impede que o item encolha */
}

.allProducts{
    height: 100vh;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 2fr)); /* Ajusta o número de colunas */
    grid-auto-rows: 200px; /* Define a altura das linhas */
    overflow-x: auto; /* Adiciona o scroll horizontal */
    overflow-y: hidden; /* Impede o scroll vertical */
    white-space: nowrap; /* Impede a quebra de linha dos  itens internos */

}

.allProdCatalog{
    color: black;
    font-size: 20px;
}

.imgProd{
    background-color: black;
    height: 15vh;
    width: 40vw;
    margin: 10px;
}

.legendaProd{
    width: 100%;
    margin: 12px;
}
