.container{
    background-color: red;
    color: white;
    height: 40vh;
    border-radius: 10px;
}

.list{
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 2fr)); /* Ajusta o número de colunas */
    
}

.listDetail{
   width: 40px;
   border-radius: 10px;
   border: 1px solid black;
   padding: 20px;
   background-color: rebeccapurple;
   font-size: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   cursor: pointer;
}

.listDetail2{
    width: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: red;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.containerFilter{
    width: 20vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 5px;
}

.containerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23vw;
}
.button{
    background-color: #294122;
    width: 70vw;
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    color: #d9d9d9;
    cursor: pointer;
}

.selected {
    background-color: #ddd; /* Cor de fundo quando selecionado */
    font-weight: bold; /* Opcional: destaca o texto selecionado */
  }