
.allProdCatalog{
    color: black;
    font-size: 1em;
}   

.imgProd{
    height: 15vh;
    width: 40vw;
    margin: 10px;
}

.legendaProd{
    width: 100%;
    margin: 12px;
    
}

.link{
    text-decoration: none;
    color: black;
}
