
.allProdCatalog{
    color: black;
    font-size: 1em;
    width: 140px;
    margin: 10px auto;
    text-align: center;
}   

.imgProd{
    height: 15vh;
    width: auto;
    margin: 10px 0;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 15px;
}

.legendaProd{
    text-align: left;
    position: relative;
    top: -6px;
    padding-left: 22px;
}

.legendaProd p strong{
    color: #249122;
}

.link{
    text-decoration: none;
    color: black;
}

@media screen and (min-width:500px) {
    
    .imgProd{
        width: 90%;
    }
}
