@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400&family=Montserrat:wght@500&family=Lato:wght@500&display=swap');

.poppinsRegular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppinsBold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.robotoRegular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.montserratMedium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.latoMedium {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}