<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/contato.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap" rel="stylesheet">
    <title>Di Napoli - Contato</title>
</head>
<body>
    <h2>CONTATO</h2>
    <div class="container">
        <h3>Estamos aqui para você</h3>
        <p>Na Pizzaria Di Napoli, valorizamos a conexão com nossos clientes e estamos sempre prontos para atender suas necessidades. Se você tiver dúvidas, sugestões ou quiser fazer um pedido, não hesite em nos contatar.</p>
        <div class="info-contato">
            <h4>Telefone</h4>
            <p>Ligue para nós: (xx) xxxxx-xxxx</p>
            <ul>
                <li>Horário de Atendimento: Segunda a Domingo, das 18h às 23h</li>
                <li>Nosso time estará disponível para ajudar com pedidos, informações sobre o menu e reservas.</li>
            </ul>
        </div>
        <div class="info-contato">
            <h4>Whatsapp</h4>
            <ul>
                <li>Mensagem Instantânea: (XX) XXXXX-XXXX</li>
                <li>Envie uma mensagem rápida para fazer seu pedido ou tirar dúvidas. Responderemos o mais rápido possível</li>
            </ul>
        </div>
        <div class="info-contato">
            <h4>Email</h4>
            <ul>
                <li>Envie um E-mail: contato@dinapoli.com</li>
                <li>Para consultas gerais, feedback ou solicitações especiais, envie-nos um e-mail. Responderemos dentro de 24 horas.</li>
            </ul>
        </div>
        <div class="info-contato">
            <h4>Redes Sociais</h4>
            <p>Fique por dentro das novidades, promoções e interaja conosco através das nossas redes sociais: </p>
            <ul>
                <li>Instagram: @dinapolipizzaria</li>
                <li>Facebook: /dinapolipizzaria</li>
            </ul>
        </div>
        <div class="info-contato">
            <h4>Endereço</h4>
            <p>Visite-nos: Rua Exemplo, 123, Centro, Cidade, Estado</p>
        </div>
        <p>Estamos sempre à disposição para ajudar e garantir que você tenha a melhor experiência possível com a Di Napoli.</p>
        <strong>Não hesite em nos contatar!</strong>
    </div>
    <a href="./home.html" class="btn-voltar">Voltar</a>
</body>
</html>